*{
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 16px;
        vertical-align: baseline;
        background: transparent;
        margin-top: 0;

        
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}





body{
    font-family: 'Raleway', 'sams-serif';
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(51, 62, 2, 0.65);
    margin: 0px;
    padding: 0px;
        display: block;
}

h1{
    text-align: center;

    font-family: 'Open Sans', sans-serif; 
    font-size: 2.08vw;
    font-weight: 600;
    margin-top:1.04vw;
    text-transform: uppercase;
    color: white !important;
}

h2{
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.h2_section{
        margin-top: 11rem;
        font-size: 30px;
        text-transform: uppercase;
        position: relative;
}
h4{
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    }

hr{
    color: white;
    width: 41.666vw;
    right:50%;
    left: 50%;
    margin-left: -20.833vw;
    margin-right: -20.833vw;
    position: relative;
}


p{
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3vw;
    font-weight: 200;
    text-align: left;
    margin: 4rem 10rem;
    line-height: 1.9vw
}




/*HEADER*/

#topspace{
    width: 100%;
    height: 5vw;
    background-color: #464b30;
}


.header{
    
    width: 100%;
    height: 21vw;
    background-image: url("../images/Header/Header_o_nas.jpg");
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-position: 50% 50%; 
     background-size: contain; 
    -moz-background-size:contain;
    -o-background-size:contain;
    -webkit-background-size:contain;
    background-position: top;
    position: relative;
}


.header-overlay{
    background-color: rgba(31,31,31,0.30);
    background-size: cover;
    width: 100%;
    height: 21vw;
    -moz-box-shadow:    inset 0 0 50px #000000;
    -webkit-box-shadow: inset 0 0 50px #000000;
    box-shadow:         inset 0 0 50px #000000;
}



/*MODAL CERTIFICATE*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; 
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    
}

/* Modal Content */
.modal-content {
    background-color: #7a815a;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}
.modal-img{
    background-image: url("../images/Resources/Certifikat_DIANNEL.jpg");
    background-position: 50% 50%; 
    background-size: 100% 100%; 
    -moz-background-size:100% 100%;
    -o-background-size:100% 100%;
    -webkit-background-size:100% 100%; 
    background-repeat: no-repeat;
    width: 100%;
    height: 33vw;
    box-shadow: 2px 8px 10px -4px black;
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 40px;
    font-weight: bold;
    opacity: 1;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

















/*ABOUT US */


.container .about-us-page{
    background: rgba(0,0,0,0.70);
    position: relative;
    padding-bottom: 2rem;
/*    height: 3180px;*/
    
}


.about-us-page{
    padding-top: 6vw;
}



.img{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 110rem;
    height: 58rem;
    margin-left: 2rem;
    background-image: url("../images/ONas/AresFoto.jpg");
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-position: 50% 50%; 
     background-size: contain; 
    -moz-background-size:contain;
    -o-background-size:contain;
    -webkit-background-size:contain; 
    background-position: center;
    position: relative;
    border-radius: 1rem;
}
.img.img2{
     background-image: url("../images/ONas/Medajle.jpg");
}
.img.img3{
     background-image: url("../images/ONas/Trofeje.jpg");
}
.img.img4{
     background-image: url("../images/ONas/Voda.jpg");
}

.overlay{
    width: 110rem;
    height: 58rem;
    border-radius: 1rem;
    background-color: rgba(31,31,31,0.15);
    background-size: cover;
    -moz-box-shadow:    inset 0 0 40px #000000;
    -webkit-box-shadow: inset 0 0 40px #000000;
    box-shadow:         inset 0 0 40px #000000;
}





















/*NAVBAR*/

.navbar-default{
    position: relative;
    z-index: 110;
    margin-top: 1.5rem;
    margin-bottom: 3.75rem;
    padding-top: 0px;
    height: 82px;
    border: none;
    background-color:rgba(9, 9, 9, 0.05);
    transition:all 1s;
    -moz-transition:all 1s;
    -o-transition:all 1s;
    -webkit-transition:all 1s;
}
.caret{
    color: white;
}
.dropdown-menu{
    background-color: rgba(9, 9, 9, 0.75) !important;
    background: rgba(9, 9, 9, 0.75) !important;
    text-align: center;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
        background-color: rgba(9, 9, 9, 0.75) !important;
    background: rgba(9, 9, 9, 0.75) !important;
    text-align: center;
}

.dropdown-text{
    color: white;
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase; 
}
.dropdown-text:hover, .dropdown-text:active, .dropdown-text:focus {
    color: white !important;
    opacity: 0.7;
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase; 
    background-color: transparent !important;
    background: transparent !important;
}

.navbar-btn{
    margin: 0;
    padding: 0;
    float: right;
    border: none;
    text-align: center; 
}

.disabled{
    color: dimgray;
    opacity: 0.5;
}


/*active navbar btn*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
}

/*Bottom line effect*/
.hvr-fade:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0.75em;
    right:50%;
    left: 50%;
    margin-left: -45px;
    margin-right: -45px;
  background-color: white;
  visibility:hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.hvr-fade:hover:before {
    padding-left: 3em;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/*hoover text collor*/
.navbar-item-text{
    color: white;
    font-family: 'Open Sans', sans-serif; 
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
}

.Brand-wrapper{
    position: relative;
}


.navbar-brand h1{

    font-family: 'Open Sans', sans-serif; 
    font-size: 2.08vw;
    font-weight: 600;
    margin-top:1.04vw;
    text-transform: uppercase;
    position: absolute;
    color: white !important;
}

.navbar-brand-p{
    position: absolute;
    margin-top: -0.52vw;
    margin-left: 0;
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.56vw;
    font-weight: 400;
    
}


.navbar-fixed-top {
    position:fixed !important;
}



















/*Footer*/


.fab{
    font-size: 5rem;
    color: #333;
    padding-right: 1rem;
    padding-left: 1rem;
    transform: translateY(1rem);
}
.fab:hover{
    color: #333;
    text-decoration: none;
    transition-duration: 0.7s;
    transform: scaleX(1);
    text-shadow: 1.3px 1.3px black;
}
.img-FCI{
    width: 26vw;
    height: 9.3;
}

.footer .navbar-brand h1{
    font-family: 'Open Sans', sans-serif; 
    font-size: 3vw;
    padding: 1rem 2rem;
    font-weight: 600;
    margin-left: 5vw;
    margin-top: -1vw;
    text-transform: uppercase;
    color: white !important;
    border: 1px solid white;
    transition-duration: 0.4s;
}
.footer .navbar-brand h1:hover{
    box-shadow:0 0 2px #fff;
    background: rgba(250,250,250,0.05);
}

.bongo{
   
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.wrapper{
  display: flex;
  flex-direction: column;
    padding: 2vw;

 
}
.footer {

  display: flex;
  flex: 1;
}
.columns{
  align-items: center;
  justify-content: center;
  display: flex;
  flex:1;
}
.main{
  flex: 1;
  order: 2;
}
.sidebar-first{
  width: 40%;
  order: 1;
}
.sidebar-second{ 
  width: 40%;
  order: 3;
}


@media only screen and (max-width: 1366px) {
    
    #topspace{
    width: 100%;
    height: 6vw;
    background-color: #464b30;
}
    

.header{
    height: 20.5vw;
}
    .header-overlay{
    height: 20.5vw;
}
    p{
         font-size: 1.5vw;
    }
    .img{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 110rem;
    height: 50rem;
    margin-left: 2rem;
    background-image: url("../images/ONas/AresFoto.jpg");
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-position: 50% 50%; 
     background-size:cover; 
    -moz-background-size:cover;
    -o-background-size:cover;
    -webkit-background-size:cover; 
    background-position: center;
    position: relative;
    border-radius: 1rem;
}
    .overlay{
    width: 110rem;
    height: 50rem;
    border-radius: 1rem;
    background-color: rgba(31,31,31,0.15);
    background-size: cover;
    -moz-box-shadow:    inset 0 0 40px #000000;
    -webkit-box-shadow: inset 0 0 40px #000000;
    box-shadow:         inset 0 0 40px #000000;
}
    
}

@media screen and (max-width: 991px) {
     


    
    
    .img{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 57.3vw;
    height: 30.2vw;
    margin-left: 8vw;
    background-image: url("../images/ONas/AresFoto.jpg");
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-position: 50% 50%; 
     background-size: contain; 
    -moz-background-size:contain;
    -o-background-size:contain;
    -webkit-background-size:contain; 
    background-position: center;
    position: relative;
    border-radius: 1rem;
}
   
    
.overlay{
    width: 57.3vw;
    height: 30.2vw;
}

    

}

