*{
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 16px;
        vertical-align: baseline;
        background: transparent;
        margin-top: 0;

        
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}





body{
    font-family: 'Raleway', 'sams-serif';
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(51, 62, 2, 0.65);
    margin: 0px;
    padding: 0px;
        display: block;
}

h1{
    text-align: center;

    font-family: 'Open Sans', sans-serif; 
    font-size: 2.08vw;
    font-weight: 600;
    margin-top:1.04vw;
    text-transform: uppercase;
    color: white !important;
}

h2{
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.h2_section{
        margin-top: 11rem;
        font-size: 30px;
        text-transform: uppercase;
        position: relative;
}
h4{
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    }

hr{
    color: white;
    width: 800px;
    right:50%;
    left: 50%;
    margin-left: -400px;
    margin-right: -400px;
    position: relative;
}


p{
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 200;
    text-align: left;
    margin: 4rem 10rem;
}



/*ABOUT US */


.container .about-us-page{
    background: rgba(0,0,0,0.70);
    position: relative;
    padding-bottom: 2rem;
/*    height: 3180px;*/
    
}


.about-us-page{
    padding-top: 15rem;
}



.img{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 1100px;
    height: 600px;
    margin-left: 2rem;
    background-image: url("../images/newV1/Gallery/img4.jpg");
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-position: 50% 50%; 
    background-size: cover; 
    -moz-background-size:cover;
    -o-background-size:cover;
    -webkit-background-size:cover; 
    background-position: top;
    position: relative;
    border-radius: 10px;
}

.overlay{
    width: 1100px;
    height: 600px;
    border-radius: 10px;
    background-color: rgba(31,31,31,0.15);
    background-size: cover;
    -moz-box-shadow:    inset 0 0 40px #000000;
    -webkit-box-shadow: inset 0 0 40px #000000;
    box-shadow:         inset 0 0 40px #000000;
}





















/*NAVBAR*/

.navbar-default{
    position: relative;
    z-index: 110;
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    padding-top: 0px;
    height: 82px;
    border: none;
    background-color:transparent;
    transition:all 1s;
    -moz-transition:all 1s;
    -o-transition:all 1s;
    -webkit-transition:all 1s;
}
.caret{
    color: white;
}
.dropdown-menu{
    background-color: rgba(9, 9, 9, 0.75) !important;
    background: rgba(9, 9, 9, 0.75) !important;
    text-align: center;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
        background-color: rgba(9, 9, 9, 0.75) !important;
    background: rgba(9, 9, 9, 0.75) !important;
    text-align: center;
}

.dropdown-text{
    color: white;
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase; 
}
.dropdown-text:hover, .dropdown-text:active, .dropdown-text:focus {
    color: white !important;
    opacity: 0.7;
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase; 
    background-color: transparent !important;
    background: transparent !important;
}

.navbar-btn{
    margin: 0;
    padding: 0;
    float: right;
    border: none;
    text-align: center; 
}

.disabled{
    color: dimgray;
    opacity: 0.5;
}


/*active navbar btn*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
}

/*Bottom line effect*/
.hvr-fade:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0.75em;
    right:50%;
    left: 50%;
    margin-left: -45px;
    margin-right: -45px;
  background-color: white;
  visibility:hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.hvr-fade:hover:before {
    padding-left: 3em;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/*hoover text collor*/
.navbar-item-text{
    color: white;
    font-family: 'Open Sans', sans-serif; 
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
}

.Brand-wrapper{
    position: relative;
}


.navbar-brand h1{

    font-family: 'Open Sans', sans-serif; 
    font-size: 2.08vw;
    font-weight: 600;
    margin-top:1.04vw;
    text-transform: uppercase;
    position: absolute;
    color: white !important;
}

.navbar-brand-p{
    position: absolute;
    margin-top: -0.52vw;
    margin-left: 0;
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.56vw;
    font-weight: 400;
    
}


.navbar-fixed-top {
    position:fixed !important;
}




















/*Footer*/
#footer{
    padding: 0;
    align-content: space-between;
}

.footer{
    margin-top: 3rem;
    background-color: none;
    width: 100%;
    height: 18rem;
    align-content: space-between;
    position: relative;
}
.footer img{
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: -30%;
    margin-right: 23%;
}

.footer i{
    font-size: 5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    transform: translateY(4rem);
}


.footer .navbar-brand h1{
    
    font-family: 'Open Sans', sans-serif; 
    font-size: 5rem;
    padding: 1rem 2rem;
    font-weight: 600;
    margin-top:6rem;
    margin-right: -30rem;
    text-transform: uppercase;
    position: absolute;
    right: 0px;
    color: white !important;
    border: 1px solid white;
}






