*{
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 16px;
        vertical-align: baseline;
        background: transparent;
        margin-top: 0;
}





body{
    font-family: 'Raleway', 'sams-serif';
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #DB3844;
    margin: 0px;
    padding: 0px;
    height: 2500px;
}

h2{
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.875rem;
    font-weight: 600;
    text-align: center;
}
p{
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5625rem;
    font-weight: 200;
    text-align: center;
}















/*NAVBAR*/


.navbar-default{
    background-color:transparent;
    padding-top: 0px;
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    border: none;
    background-color:transparent;
    position: relative;
    z-index: 110;
    transition:all 1s;
    -moz-transition:all 1s;
    -o-transition:all 1s;
    -webkit-transition:all 1s;
    
    
}

.navbar-default{
    height: 100px;
}


.navbar-btn{
    margin: 0;
    padding: 0;
    float: right;
    border: none;
    text-align: center;
    
}

/*active navbar btn*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
}

/*Bottom line effect*/
/*TODO: separate lenghts*/
.hvr-fade:before {
  content: "";
  position: absolute;
/*  width: 50%;*/
  height: 2px;
  bottom: 0.75em;
    right:50%;
    left: 50%;
    margin-left: -45px;
    margin-right: -45px;
/*  left: 0rem;*/
  background-color: white;
  visibility:hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.hvr-fade:hover:before {
    padding-left: 3em;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/*hoover text collor*/
.navbar-item-text{
    color: white;
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.Brand-wrapper{
    position: relative;
}


/*
.dog-logo-img{
    position: absolute;
    opacity: 0.65;
}
*/

.navbar-brand h1{

    font-family: 'Open Sans', sans-serif; 
    font-size: 2.08vw;
    font-weight: 600;
/*    margin-left: 30px;*/
    margin-top:1.04vw;
    text-transform: uppercase;
    position: absolute;
/*    width: 520px !important;*/
    color: white !important;
}

.navbar-brand-p{
    position: absolute;
    margin-top: -0.52vw;

    font-family: 'Open Sans', sans-serif; 
    font-size: 1.56vw;
/*    margin-top: 70px;*/
/*    padding-left: 0.55rem;*/
/*    text-transform: uppercase;*/
    font-weight: 400;
}


.navbar-fixed-top {
    position:fixed !important;
}



















/*HEADER*/
.header{
    
    background-image: url("../images/newV1/dog-header.jpg");
    background-attachment: fixed; /*this specifies if img should scroll or be fixed*/
    background-repeat: no-repeat;
    background-position: 50% 50%; /*the background image will be positioned in the center of the element, using percent*/
    background-size: cover; /*	Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges*/
    
        /*web browsers default bg size*/
    -moz-background-size:cover;
    -o-background-size:cover;
    -webkit-background-size:cover; 
    width: 100%;
    height: 680px;
    padding-top: 0;
    margin-top: -2.7em;

}

.header-overlay{
    background-color: rgba(31,31,31,0.30);
    background-size: cover;
    width: 100%;
    height: 680px;
    -moz-box-shadow:    inset 0 0 50px #000000;
    -webkit-box-shadow: inset 0 0 50px #000000;
    box-shadow:         inset 0 0 50px #000000;
}























/*General Random stuff*/

hr,.hr-1{
    color: white;
    width: 560px;
    right:50%;
    left: 50%;
    margin-left: -280px;
    margin-right: -280px;
    position: relative;

}

.o-stanici{
    
}

.h2-o-stanici{
        margin-top: 11rem;
        font-size: 30px;
        text-transform: uppercase;
}

#p-o-stanici{
    width: 800px;
    height: 250px;
    position: relative;
    right:50%;
    left: 50%;
    margin-left: -400px;
    margin-right: -400px;
    margin-top: 35.5px;
    font-size: 25px;
    
}


.shadow
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.2) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.2) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.2) inset;
}
.shadow:before, .shadow:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.shadow:hover{
    -moz-box-shadow:    inset 0 0 5px #000000 !important;
    -webkit-box-shadow: inset 0 0 5px #000000 !important;
    box-shadow:         inset 0 0 5px #000000 !important;   
    
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
















/*dogs menu*/

/*
.dogs-menu{
    margin-top: 15em;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
*/

.h2-dog-cards{
        margin-top: 11rem;
        font-size: 30px;
        text-transform: uppercase;
        position: relative;
}

hr,.hr-2{
    color: white;
    width: 210px;
    right:50%;
    left: 50%;
    margin-left: -105px;
    margin-right: -105px;
    position: relative;
}

.parent {
    margin-top: 110px;
  display: flex;
  flex-wrap: wrap;


}

.child {
    flex: 1 0 20%; 
    margin: 10px;
    width: 550px;
    height: 730px;
    display: flex;
    justify-content: center;   


  
}

.child:hover{
    -webkit-transition: all ease-in-out;
    -moz-transition: all ease-in-out;
    -o-transition: all ease-in-out;
    transition: all ease-in-out;
    filter: blur(1px);
    opacity: 0.85;   
}


.dog-1{
/*
    background-image: url(../images/newV1/dog-card-1.jpg);

    background-repeat: no-repeat;
    background-position: 50% 50%; 
    background-size: cover;
*/
}

.dog-2{
/*
    background-image: url(../images/newV1/dog-card-2.jpg);
 
    background-repeat: no-repeat;
    background-position: 50% 50%; 
    background-size: cover;
*/
}

.dog-img{
    background-repeat: no-repeat;
    background-position: 50% 50%; 
    background-size: cover;
}





/*DIanna menu*/



.dianna-menu{
    background-image: url(../images/newV1/dog-menu-1.jpg);
    width: 100%;
    height: 1080px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -webkit-background-size:cover; 
    margin: 0;
    padding: 0;
    z-index: 1;
    margin-top: 10rem;
}

.info-table{
    z-index: 5;
    position: relative;
    padding-top: 300px;
    padding-left: 60px;


}

.h3-dog-menu{
    color: white;
    font-size: 70px;
    text-transform: uppercase;
    position: relative;
    padding-left: 100px;

}


.p-dog-menu{
    color: black;
    font-size: 30px;
    height: 600px;
    width: 450px;
    border: 1px solid white;
    padding: 30px;
    padding-top: 85px;
    
}
