*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', 'sams-serif';
    overflow-y: scroll;
    overflow-x: hidden;

}

h2{
    color: black !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.875rem;
    font-weight: 600;
    text-align: center;
}
p{
    color: black !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5625rem;
    font-weight: 200;
    text-align: center;
}


/*NAVBAR*/


.navbar-default{
    background-color:transparent;
/*    position: absolute;*/
/*
    width: 1150px;
    right:50%;
    left: 50%;
    margin-left: -575px;
    margin-right: -575px;
*/
    padding-top: 0px;
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    border: none;
    background-color:transparent;
    
}



.navbar-btn{
    margin: 0;
    padding: 0;
/*    width: 150px;*/
    float: right;
    border: none;
    text-align: center;
}

/*active navbar btn*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
}

/*Bottom line effect*/
/*TODO: separate lenghts*/
.hvr-fade:before {
  content: "";
  position: absolute;
/*  width: 50%;*/
  height: 2px;
  bottom: 0.75em;
    right:50%;
    left: 50%;
    margin-left: -45px;
    margin-right: -45px;
/*  left: 0rem;*/
  background-color: black;
  visibility:hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.hvr-fade:hover:before {
    padding-left: 3em;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/*hoover text collor*/
.navbar-item-text{
    color: black;
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.4em;
    font-weight: 400;
    text-transform: uppercase;
}

.Brand-wrapper{
    position: relative;
}


.dog-logo-img{
    position: absolute;
    opacity: 0.65;
}

a.navbar-brand{
    color: black !important;
    font-family: 'Open Sans', sans-serif; 
    font-size: 2.2em;
    font-weight: 600;
    padding-left: 8.5rem;
    padding-top: 0.9em;
    text-transform: uppercase;
    position: absolute;
    width: 460px !important;
}

.navbar-brand-p{
    position: absolute;
    color: black !important;
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.8em;
    padding-top: 2.1em;
    padding-left: 7.4rem;
    text-transform: uppercase;
    font-weight: 400;
}












/*HEADER*/



.header-img{
   
    border-top-left-radius: 100em;
    border-bottom-left-radius: 100em;
    border-top-right-radius: 100em;
    border-bottom-right-radius: 100em;

}


.carousel-control {
  opacity: 0;
}

.carousel-control:hover {
  opacity: 0;
}




#carousel.carousel.slide{
    right:50%;
    left: 50%;
    margin-left: -400px;
    margin-right: -400px;
    width: 800px;
}






/*General Random stuff*/

.o-stanici{
    margin-top: 7.25rem;
}

#p-o-stanici{
    width: 700px;
    height: 250;
    position: relative;
    margin-left: 137.5px;
    margin-right:137.5px;
}













